*, *::before, *::after {
  box-sizing: border-box;
}


body {
  background: white;
  margin: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

