#spotlight {
  --x: 50vw;
  --y: 50vh;

  position: fixed;
  inset: 0;
  pointer-events: none;

  background: radial-gradient(
  circle 220px at var(--x) var(--y),
  rgba(255,255,255,0.22) 0%,
  rgba(255,255,255,0.18) 20%,
  rgba(255,255,255,0.12) 40%,
  rgba(255,255,255,0.06) 65%,
  rgba(255,255,255,0.02) 85%,
  rgba(255,255,255,0) 100%
);



  z-index: 9999;
}
