
body {
  background: radial-gradient(
    circle at 50% 50%,
    rgba(255, 255, 255, 0.18),
    rgba(0, 0, 0, 0.65) 40%
  );
}


#mouse-light {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  pointer-events: none;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(255,255,255,0.25),
    rgba(255,255,255,0) 60%
  );
  transform: translate(-50%, -50%);
  z-index: 1;
}
