#spotlight {
  --x: 50vw;
  --y: 50vh;

  position: fixed;
  inset: 0;
  pointer-events: none;

  background: radial-gradient(
    circle 220px at var(--x) var(--y),
    rgba(255,255,255,1) 0%,
    rgba(255,255,255,0.95) 20%,
    rgba(0,0,0,0.45) 45%,
    rgba(0,0,0,0.75) 70%,
    rgba(0,0,0,0.9) 100%
  );

  z-index: 10;
}
