#spotlight {
  --x: 50vw;
  --y: 50vh;

  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 9999;

  background: radial-gradient(
  circle 240px at var(--x) var(--y),
  rgba(255,255,255,0.35) 0%,
  rgba(255,255,255,0.35) 20%,
  rgba(255,255,255,0.35) 40%,
  rgba(0,0,0,0.35) 60%,
  rgba(0,0,0,0.6) 85%,
  rgba(0,0,0,0.75) 100%
);
  z-index: 9999;
}
