body {
  background: #555;
}

#mouse-light {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 0;

  background: radial-gradient(
    circle 180px at var(--x, 50%) var(--y, 50%),
    rgba(255,255,255,0.35),
    rgba(0,0,0,0.75) 70%
  );
}
