#spotlight {
  --x: 50vw;
  --y: 50vh;

  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 9999;

  background: radial-gradient(
  circle 240px at var(--x) var(--y),

  /* core (ไม่แสบตา) */
  rgba(255,255,255,0.22) 0%,

  rgba(255,255,255,0.18) 18%,
  rgba(255,255,255,0.13) 32%,
  rgba(255,255,255,0.08) 45%,

  /* fade to dark */
  rgba(0,0,0,0.25) 60%,
  rgba(0,0,0,0.55) 82%,
  rgba(0,0,0,0.75) 100%
);

  z-index: 9999;
}
