#spotlight {
  --x: 50vw;
  --y: 50vh;

  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 0;

  background: radial-gradient(
    circle 200px at var(--x) var(--y),
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0.2) 40%,
    rgba(0,0,0,0.65) 70%,
    rgba(0,0,0,0.8) 100%
  );
}
