#spotlight {
  --x: 50vw;
  --y: 50vh;

  position: fixed;
  inset: 0;
  pointer-events: none;

  background: radial-gradient(
  circle 240px at var(--x) var(--y),
  rgba(255,255,255,0.18) 0%,
  rgba(255,255,255,0.16) 15%,
  rgba(255,255,255,0.13) 30%,
  rgba(255,255,255,0.09) 50%,
  rgba(255,255,255,0.05) 70%,
  rgba(255,255,255,0.02) 85%,
  rgba(255,255,255,0) 100%
);



  z-index: 9999;
}
