#mouse-light {
  --x: 50vw;
  --y: 50vh;

  position: fixed;
  left: var(--x);
  top: var(--y);
  pointer-events: none;

  width: 500px;
  height: 500px;
  border-radius: 50%;

  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.18),
    rgba(0, 0, 0, 0) 65%
  );

  mix-blend-mode: multiply;

  transform: translate(-50%, -50%);
  z-index: 9999;
}
