#mouse-light {
  position: fixed;
  left: var(--x);
  top: var(--y);
  pointer-events: none;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: red !important;
  transform: translate(-50%, -50%);
  z-index: 9999;
}
