#spotlight {
  --x: 50vw;
  --y: 50vh;

  position: fixed;
  inset: 0;
  pointer-events: none;

  background: radial-gradient(
  circle 240px at var(--x) var(--y),
  rgba(255,255,255,0.18) 0%,
  rgba(255,255,255,0.08) 25%,
  rgba(0,0,0,0.35) 60%,
  rgba(0,0,0,0.6) 85%,
  rgba(0,0,0,0.75) 100%
);


  z-index: 9999;
}
