#mouse-light {
  --x: 50vw;
  --y: 50vh;

  position: fixed;
  left: var(--x);
  top: var(--y);
  pointer-events: none;

  width: 450px;
  height: 450px;
  border-radius: 50%;

  background: radial-gradient(
  circle,
  rgba(0, 0, 0, 0.28),
  rgba(0, 0, 0, 0) 60%
);


  mix-blend-mode: multiply;
  filter: blur(2px);

  transform: translate(-50%, -50%);
  z-index: 0;
}
