#mouse-light {
  position: fixed;
  pointer-events: none;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(255,255,255,0.25),
    rgba(255,255,255,0) 60%
  );
  transform: translate(-50%, -50%);
  z-index: 9999;
}
