#spotlight {
  --x: 50vw;
  --y: 50vh;

  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 9999;

  background: radial-gradient(
    circle 260px at var(--x) var(--y),
    rgba(200,200,200,0.18) 0%,
    rgba(180,180,180,0.14) 25%,
    rgba(140,140,140,0.10) 45%,
    rgba(0,0,0,0.35) 65%,
    rgba(0,0,0,0.6) 85%,
    rgba(0,0,0,0.78) 100%
  );
}
