#spotlight {
  --x: 50vw;
  --y: 50vh;

  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 9999;

  background:
    radial-gradient(
      circle 180px at var(--x) var(--y),
      rgba(255,255,255,0.13) 0%,
      rgba(255,255,255,0.12) 18%,
      rgba(255,255,255,0.10) 32%,
      rgba(255,255,255,0.07) 45%,
      rgba(255,255,255,0.04) 60%,
      rgba(0,0,0,0.0) 72%
    ),
    radial-gradient(
      circle 240px at var(--x) var(--y),
      rgba(0,0,0,0.12) 0%,
      rgba(0,0,0,0.30) 45%,
      rgba(0,0,0,0.60) 78%,
      rgba(0,0,0,0.80) 100%
    );

  filter: blur(16px);
}
